<!DOCTYPE html>
<html></html>
<head>
    <div class= "header">
    <h1> Welcome to Matcha</h1>
    </div>
    <meta charset="utf-8">
    <title>Matcha</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class = "loginBox">
		 <ul>  <% errors.exists.forEach(function (item){
      %>
      <li><%= item %></li>
    <%}); %>
	</ul>
        <img src = "../Photos/user.png" class ="user">
        <h2>SignUp Here</h2>
        <form action = "/register/register" method = "post">
            <p>Username</p>
            <input type="text" name= "username" placeholder="Enter Username">
            <p>Email</p>
            <input type="text" name= "email" placeholder="Enter email">
            <p>Password</p>
            <input type="password" name="password" placeholder="............">
			<p>Confirm password</p>
			<input type = "password" name ="re_password">
            <input type="submit" name="" value="Register">
        </form>
    </div>
    
</body>

<div class = "footer">
    <p> &copy matcha 2019</p>
</div>
		